@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  background: #090e15;
  color: #e4e4e7;
  font-family: "Segoe UI", system-ui, sans-serif;
}
button,
a,
select,
input {
  -webkit-tap-highlight-color: transparent;
}
